<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <% page_data = current_page.data %>
    <% keywords = page_data.keywords ? page_data.keywords : data.seo.keywords %>
    <% description = page_data.description ? page_data.description : data.seo.description %>
    <% author = page_data.author ? page_data.author : data.seo.author %>
    <title><%= page_data.title %></title>
    <meta content="" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta name="keywords" content="<%= keywords.join(',') %>">
    <meta name="description" content="<%= description %>">
    <meta name="author" content="<%= author %>">
  </head>
  <body>
    <%= yield %>
    <%= partial 'defer_load' %>
  </body>
</html>
