<!DOCTYPE html>
<html class="js-disabled">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <% page_data = current_page.data %>
    <% keywords = page_data.keywords ? page_data.keywords : data.seo.keywords %>
    <% description = page_data.description ? page_data.description : data.seo.description %>
    <% author = page_data.author ? page_data.author : data.seo.author %>
    <title><%= page_data.title %></title>
    <meta content="" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta name="keywords" content="<%= keywords.join(",") %>">
    <meta name="description" content="<%= description %>">
    <meta name="author" content="<%= author %>">
    <meta name="google-site-verification" content="<%= data.seo.google_verification %>" />
    <link rel="alternate" type="application/rss+xml" title="Learn Swift Feed" href="<%= data.seo.site_url %>/feed">
    <%= stylesheet_link_tag "main" %>
  </head>
  <body>
    <%= partial "header" %>
    <%= yield %>
    <%= javascript_include_tag "main", async: true %>
    <%= partial "typekit" %>
    <%= partial "analytics" %>
    <%= partial "footer" %>
  </body>
</html>
