<h4 id="donate" class="title">Donate</h4>
<p>If you like this website and would like to support its further development, please consider donating.</p>
<div class="bitcoin">
  <%= svg_icon("bitcoin") %>
  <data class="wallet-id" id="hi" value="<%= data.contact.wallet_id %>"><%= data.contact.wallet_id %></data>
</div>
<div class="fiat">
  You can also donate via <a href="mailto:<%= data.contact.email %>?cc=send@square.com&Subject=0%24&Body=Keep%20up%20the%20good%20work%21">Square Cash</a> or good ol'<a href="<%= data.contact.paypal_url %>">Paypal</a>.
</div>
<p class="note"><em>PS</em>: Never heard of <a href="http://en.wikipedia.org/wiki/Matcha">matcha</a>? No worries, it's <em>100%</em> legal.</p>
