---
title: 'Home'
---

<%= partial 'header' %>

<section class="posts">
  <% page_articles.each do |article| %>
    <article>
      <header class="post-header">
        <h2 class="post-title" id="<%= article.title.tr(' ', '-').downcase %>">
          <%= article.title %>
        </h2>
        <a href="<%= playground_download_url(article) %>" class="download-playground">Download Playground</a>
      </header>
      <%= article.body %>
    </article>
  <% end %>

  <aside>
    To be continued...
  </aside>
</section>
